# Supabase Configuration
VITE_PUBLIC_SUPABASE_URL=https://nczghbzqpmnkwejrhqpf.supabase.co
VITE_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jemdoYnpxcG1ua3dlanJocXBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyNjU5MDAsImV4cCI6MjEwNTg0MTkwMH0.kdHtF6avJMr8uv4d7M8dstICXKJ4M6uD0iZA-llesdo
VITE_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_S8Q1ohIBEtW_vz0Q2hBXNA_kvxh0Rgn
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jemdoYnpxcG1ua3dlanJocXBmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDI2NTkwMCwiZXhwIjoyMTA1ODQxOTAwfQ.uqf6XbUgg1V0Na21ryCjauoPilvhZLiUAYciUacw6D8
SUPABASE_SECRET_KEY=sb_secret_1OklLVKe69BtJtRLQCSaDA_lRTbTMJ3
SUPABASE_JWT_SECRET=GjHtCUucNsZX9kW4X9eYRoCelBxDCKetwztHCGbi/ZZDG0PiUpEY39N3tGXk3k8IH08B84Rp1tpHJKrKyJr2og==

# Database PostgreSQL connection details
POSTGRES_HOST=db.nczghbzqpmnkwejrhqpf.supabase.co
POSTGRES_USER=postgres
POSTGRES_DATABASE=postgres
POSTGRES_PASSWORD=OEaExqiKu2p3ztgq
POSTGRES_URL=postgres://postgres.nczghbzqpmnkwejrhqpf:OEaExqiKu2p3ztgq@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x
POSTGRES_PRISMA_URL=postgres://postgres.nczghbzqpmnkwejrhqpf:OEaExqiKu2p3ztgq@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true
POSTGRES_URL_NON_POOLING=postgres://postgres.nczghbzqpmnkwejrhqpf:OEaExqiKu2p3ztgq@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
